<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      lang="en"
>
<head th:replace="fragments :: head"></head>
<body class="bg-light">

    <nav th:replace="fragments :: navigation"></nav>

    <main class="container">

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 th:text="${title}">Default Title</h2>
        </div>

        <div th:unless="${roles} and ${roles.size()} and ${departments} and ${departments.size()}"
             class="alert alert-warning"
        ><strong>Warning!</strong> You won't be able to create new employees until a manager add roles and departments. Head to the
            <a th:href="@{/manage}">Manage</a> tab to get started.
        </div>

        <div class="col-md-8 mx-auto"
             th:if="${roles} and ${roles.size()} and ${departments} and ${departments.size()}"
        >
            <form method="post"
                  th:object="${employee}"
                  class="needs-validation"
            >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label th:for="firstName">First Name</label>
                            <input class="form-control"
                                   th:type="text"
                                   th:field="*{firstName}"
                                   readonly
                            />
                            <div th:errors="*{firstName}"
                                 class="error"
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label th:for="lastName">Last Name</label>
                            <input class="form-control"
                                   th:type="text"
                                   th:field="*{lastName}"
                                   readonly
                            />
                            <div th:errors="*{lastName}"
                                 class="error"
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label th:for="role">Role</label>
                            <select class="custom-select d-block"
                                    name="role"
                                    id="role"
                                    required
                            >
                                <option value=""
                                        selected
                                        disabled
                                >Please select
                                </option>
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"
                                        th:selected="${role==employee.role} ?: 'Please select'"
                                >
                                </option>
                            </select>
                            <div th:errors="*{role}"
                                 class="error"
                            ></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group"
                             th:if="${departments} and ${departments.size()}"
                        >
                            <label th:for="department">Department</label>
                            <select class="custom-select d-block"
                                    name="department"
                                    id="department"
                                    required
                            >
                                <option value=""
                                        selected
                                        disabled
                                >Please select
                                </option>
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"
                                        th:selected="${department==employee.department} ?: 'Please select'"
                                >
                                </option>
                            </select>
                            <div th:errors="*{department}"
                                 class="error"
                            ></div>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <input class="btn btn-primary btn-lg btn-block"
                       type="submit"
                       th:value="${submit}"
                />

            </form>
        </div>

    </main>

    <section th:replace="fragments :: scripts"></section>

</body>
</html>