<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>

    <main role="main">

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 th:text="${title}">Title</h2>
            <p class="lead">In this area someone with a managerial role can create job functions(Roles), departments and employees. I would've added buttons for managing Role and Departments, but I didn't want to get carried away with things you didn't ask for</p>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Employees</h4>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/employee/add}"
                           class="btn btn-lg btn-block btn-success"
                        >+<i class="fa fa-user" aria-hidden="true"></i> New Employee</a>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Roles</h4>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/role/add}"
                           class="btn btn-lg btn-block btn-success"
                        >+<i class="fas fa-briefcase" aria-hidden="true"></i> New Role</a>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Departments</h4>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/department/add}"
                           class="btn btn-lg btn-block btn-success"
                        >+<i class="fa fa-users" aria-hidden="true"></i> New Department</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section th:replace="fragments :: scripts"></section>

</body>
</html>