<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      lang="en"
>
<head th:replace="fragments :: head"></head>
<body class="bg-light">

    <nav th:replace="fragments :: navigation"></nav>


    <main role="main"
          class="container"
    >

        <div class="py-5 text-center">
            <h2 th:text="${title}">Default Title</h2>
        </div>

        <a th:href="@{/employee/add}"
           class="btn btn-primary"
        >+<i class="fa fa-user"
             aria-hidden="true"
        ></i> New Employee
        </a>

        <div class="row">
            <div class="col-md-6">
                <div th:unless="${employees.size()}"
                     class="list-group-item"
                >No employees - You'll need to add some roles before employees, head to the
                    <a th:href="@{/manage}">Manager</a>
                 tab
                </div>
                <div class="card"
                     th:if="${employees} and ${employees.size()}"
                >
                    <div class="row no-gutters"
                         th:each="employee : ${employees}"
                    >
                        <div class="col">
                            <img class="img-fluid"
                                 th:src="@{/images/img_avatar.png}"
                                 alt="Card image"
                            >
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a th:href="@{/employee/(id=${employee.id})}"
                                       th:text="${employee.name}"
                                    ></a>
                                </h5>
                                <p class="card-text" th:text="${employee.role.name}">Role</p>
                                <p class="card-text">Department</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>


    <section th:replace="fragments :: scripts"></section>

</body>
</html>