<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="bg-light">

    <nav th:replace="fragments :: navigation"></nav>

    <main class="container">

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 th:text="${title}">Default Title</h2>
            <p class="card-subtitle mb-2">$<span th:text="${role.earnings}"></span><small class="text-muted"> / mo</small></p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div th:unless="${role.employees} and ${role.employees.size()}"
                     class="alert alert-info"
                ><strong>Role is unused!</strong> - Assign some employees to this role or consider removing it.
                </div>
                <div th:if="${role.employees} and ${role.employees.size()}"
                     th:with="employees=${role.employees}"
                >
                    <div th:replace="fragments :: employee-list"></div>
                </div>
            </div>
        </div>

    </main>

    <section th:replace="fragments :: scripts"></section>

</body>
</html>